* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 70px;
  position: relative;
  margin: 10px 0;
}

h1 {
  color: rgb(77, 77, 77);
  font-size: 15px;
  letter-spacing: 5px;
  font-weight: 900;
}

header h1 {
  font-size: 20px;
  animation: leFaccio 4s infinite;
}

@keyframes leFaccio {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotateX(360deg);
  }
}

header h1:hover {
  color: #1d3597;
}

.icon-menu {
  display: none;
}

nav li {
  display: inline-block;
  padding: 0 10px;
}

.nav-desc li a {
  color: rgb(77, 77, 77);
  font-size: 15px;
}

.nav-links li a {
  color: rgb(77, 77, 77);
  font-size: 15px;
}

header nav li a:hover {
  color: #1d3597;
}

.en {
  position: absolute;
  right: 40px;
}

.video-container {
  width: 100%;
  margin: 10px auto;
}

.header-title {
  color: rgb(0, 0, 0);
  position: absolute;
  top: 350px;
  left: 300px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-shadow: 0 5px 5px rgb(145, 145, 145);
  font-weight: 900;
}

.header-title p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-shadow: 0 5px 5px rgb(145, 145, 145);
  font-weight: 800;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container .box {
  position: relative;
  width: 500px;
  margin: 0 auto;
}

.container .box .imgBox {
  padding: 0px 0px;
  position: relative;
  overflow: hidden;
}
.container .box .imgBox img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: transform 1s;
}

.container .box:hover .imgBox img {
  transform: scale(1.6);
  filter: grayscale(80%);
}

.container .box .details {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0px;
  transform: scaleY(0);
  transition: transform 0.5s;
}

.container .box:hover .details {
  transform: scaleY(1);
}

.container .box .details .content {
  color: #fff;
  position: relative;
  top: 90%;
  transform: translateY(-100%);
  text-align: center;
  padding: 3px;
}

.container .box .details .content p {
  margin: -2px auto;
  font-family: "Roboto", sans-serif;
}

.reality-heading {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 200;
  text-align: center;
  text-shadow: 0 8px 5px rgb(63, 63, 63);
  font-family: "Roboto", sans-serif;
  margin: 30px auto;
}

.reality-paragraph li {
  color: rgb(77, 77, 77);
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  padding: 10px 300px;
  text-align: center;
}

.videos {
  position: relative;
}

.animation-heading {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 200;
  text-align: center;
  text-shadow: 0 8px 5px rgb(63, 63, 63);
  font-family: "Roboto", sans-serif;
  margin: 30px auto;
}

.animation-video {
  display: inline-block;
  margin: 0 150px;
  position: absolute;
  top: -50px;
}

.contact {
  position: relative;
  bottom: -500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-info h2 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 200;
  text-align: center;
  text-shadow: 0 8px 5px rgb(63, 63, 63);
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
  margin: 30px auto;
}

.contact-info p {
  color: rgb(77, 77, 77);
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.box-two {
  position: absolute;
  left: -300px;
  top: 10px;
}

a .container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contactInfo .box-two {
  position: relative;
  padding: 30px 60px;
  display: flex;
}

.container .contactInfo .box-two .text {
  color: rgb(77, 77, 77);
  display: flex;
  margin-left: 20px;
  font-size: 15px;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  word-break: break-word;
}

.contactForm {
  position: absolute;
  right: 200px;
  top: 150px;
  width: 40%;
  padding: 20px;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 0px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactForm .inputBox span {
  color: rgb(77, 77, 77);
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 15px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: rgb(77, 77, 77);
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
  color: rgb(77, 77, 77);
  width: 100px;
  background: none;
  border-radius: 10px;
  border: 1px solid #000000;
  cursor: pointer;
  margin: 5px 500px;
}

.contactForm .inputBox input[type="submit"]:hover {
  color: #1d3597;
}

.foot-icons {
  position: relative;
  bottom: -700px;
  left: 650px;
}

.foot-icons i {
  color: rgb(77, 77, 77);
  font-size: 20px;
  padding: 0 15px;
}

@media only screen and (max-width: 375px) {
  * {
    padding: 0;
    margin: 0;
  }

  body {
    width: 100%;
  }

  header {
    position: relative;
  }

  header h1 {
    font-size: 22px;
    margin-left: -50px;
  }

  .icon-menu {
    font-size: 25px;
    display: block;
    position: absolute;
    top: 24px;
    left: 320px;
  }

  .nav-desc li a {
    display: none;
  }

  .nav-links li a {
    display: none;
  }

  .video-container {
    width: 100%;
    margin-top: -200px;
    margin-left: -2px;
  }

  .header-title {
    color: cornsilk;
    position: absolute;
    top: 220px;
    left: 10px;
    font-size: 8px;
    white-space: nowrap;
  }

  .header-title p {
    font-size: 8;
    white-space: normal;
  }

  .container {
    margin-top: 20px;
    margin-left: 5px;
  }

  .reality .reality-heading h1 {
    white-space: nowrap;
  }

  .reality-heading {
    font-size: 20px;
  }

  .reality-paragraph li {
    padding: 10px 25px;
  }

  .videos {
    position: relative;
  }

  .animation-heading {
    font-size: 20px;
  }

  .animation-video {
    margin: -20px 40px;
  }

  .bgg-video {
    width: 290px;
    margin: -90px 0;
  }

  .contact {
    position: relative;
    bottom: -800px;
  }

  .contact-info h2 {
    font-size: 20px;
  }

  .contact-info p {
    width: 80%;
  }

  .box-two {
    position: absolute;
    left: -55px;
    top: 10px;
    margin: -28px 0;
  }

  .contactForm .inputBox {
    width: 290px;
    margin-left: 30px;
    position: relative;
    bottom: -160px;
  }

  .contactForm .inputBox input[type="submit"] {
    margin: 5px 85px;
  }

  .foot-icons {
    position: relative;
    top: 1170px;
    left: 70px;
  }
}
